body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
}

.container{
    width: 50%;
    margin-top: 20px;
    max-width: 600px;
}

h1 {
    display: flex;       
    gap: 10px;          
    justify-content: center; 
    align-items: center; 
    margin: 0;           
    padding: 10px;       
}

button{
    background-color: green;
    width: 100%;
    font-size: 20px;
    transition: border-radius 0.5s ease;
    cursor: pointer;
    padding: 5px;
    font-family: 'trebuchet ms', 'lucida sans unicode', 'lucida grande', 'lucida sans', 'arial', 'sans-serif';
}

button:hover{
    border-radius: 20px;
    background-color: darkgreen;
}